.backstyle{
    background-image: url('fiore_giallo_foto_2_1440x900.jpg');  /* customize the head image back ground */
    
    padding: 5%;}
li{
    list-style-type: none;

}
.yhello{
    color: white; /* customize the header items color to white */
}
#image-zoom-out{ /*customizethe image size*/
    width: 150px;
    height: 150px;
}
.projects-zoom-out{ /*customize the grid cells */
    width: 200px;
    height: 200px;
    padding: 5%;
    opacity:1;
    border: 1px solid rgb(132, 197, 240);
}

.projects-zoom-out:hover
{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.9);
}
.fix{width:100%; padding:0px;}
.row1 {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column1 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 40%;
    padding: 0 4px;
}

.column1 img {
    margin-top: 8px;
    vertical-align: middle;
}

.pfluid{ 
    padding: 5%;
    background-color: rgba(248, 248, 255, 0.925);
}
.wone{
    color:rgb(132, 197, 240);
}
.cntus{ /* customize the background color of contact me div */
    background-color: rgba(248, 248, 255, 0.925);
     padding: 5%;
}
.abus{ /* customize the background color of about me div */
    background-color: rgb(132, 197, 240);
     padding: 5%;
}
.touch{ /* customize the footer */
    background-color:rgb(132, 197, 240) ; padding: 5%;
    color: white;
}
.afooter{  /* customize the footer links */
    text-decoration: underline;
    color: white;
}

/* customize the grid */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    
}

/*cutomize the grid  */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
   
}
